.app-layout {
 width: 100% !important;
 height: 100% !important;    
}
.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.nav-items{
   display: flex;                /* <-- This is the key */
  justify-content: flex-end;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  color: gray;
}
